@charset "utf-8"; 

/* 
    Author: Guillermo Jimenez Iriarte 
    Date: 5/29/2023

    Filename: 5HistoryFacts.css
*/ 



/* Navigation Bar */ 

nav ul {
    list-style-type: none; /* Property removes the bullets from the list */
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    background-color: #666;
}

li { /* Display the list horizontally, by converting the list elements to floating objects. */
    float: left; 
}

a { /* adding color to the list to gove it the look and feel of a Navbar*/
    display: block; 
    padding: 10px; /* padding added to each of the elements to make their arrangement look good*/
    background-color: #b8b4b4; /*property adds the grey color in the background*/  
}

li a { /* The li a class has some porperties that can be applied to the text in the Navbar. */
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}

/* Change the link color to #111 (black) on hover*/
li a:hover {
    background: #111; 
}

