@charset "utf-8"; 

/* 
    Author: Guillermo Jimenez Iriarte 
    Date: 5/29/2023

    Filename: 5HistoryFacts.css
*/ 


/*=================================================================================================*/
/* Body */ 
/*==================================================================================================*/

body, html{ 
    height: 100vh; 
}

body{ 
    margin: 0; 
    display: grid; 
    grid-template-columns: 20% 60% 20%; 
    grid-template-rows: auto auto auto auto auto auto auto 20%;
    grid-template-areas: 
        "header header header"
        "section1 section1 section1"
        "section2 section2 section2"
        "section3 section3 section3"
        "section4 section4 section4"
        "section5 section5 section5"
        "section6 section6 section6"
        "footer footer footer"; 
}
    



/*==================================================================================================*/
/*==================================================================================================*/

/*=================================================================================================*/
/* Navigation Bar */ 
/*==================================================================================================*/

nav ul {
    list-style-type: none; /* Property removes the bullets from the list */
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    background-color: #666;

    /*properties in the ul class make the navigation bar stay at the top (or bottom) of the page. */
    position: fixed; 
    top:0; 
    width: 100%; 

    
}

li { /* Display the list horizontally, by converting the list elements to floating objects. */
    float: left; 
    border-right: 1px solid #666; /*property is added to the tabs to display a brown border between the tabs*/
    
    /*cursor pointer */ 
    cursor: pointer; 
}

a { /* adding color to the list to gove it the look and feel of a Navbar*/
    display: block; 
    padding: 10px; /* padding added to each of the elements to make their arrangement look good*/
    background-color: #b8b4b4; /*property adds the grey color in the background*/  
}

li a { /* The li a class has some porperties that can be applied to the text in the Navbar. */
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}

/* Change the link color to #111 (black) on hover*/
li a:hover {
    background: #111; 
}

/*==================================================================================================*/
/*==================================================================================================*/


/*==================================================================================================*/
/*Title*/
/*==================================================================================================*/

header{ 
    grid-area: header; 
}

.title{ 
    background-color: cornsilk;
    border: 3px solid cornsilk;
    padding: 150px; /*added padding in order to help cover the image background */
    background-size: cover;  /*adjust the width of the image background*/ 
}

h1 {
    text-align: center; /* aligned text title to the center*/
    color: black;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 

}

.author {
    text-align: center;  /* aligned author name to the center*/
    font-size: 12px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 
}

.date{
    text-align: center;  /* aligned date to the center*/
    font-size: 11px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}



.Section1{
    grid-area: section1;


}



.Section2{
    grid-area: section2;


}



.Section3{
    grid-area: section3;


}


.Section4{
    grid-area: section4;


}

.Section5{
    grid-area: section5;


}

.Section6{
    grid-area: section6;


}


footer{
    grid-area: footer;


}
